:root {
  --main-bg-color: #2196f3;
  --main-two-color: #757575;
  --main-tree-color: #212121;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
}
ul {
  padding: 0;
}
.link-logo,
.link-logo1 {
  font-family: "Raleway", sans-serif;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
  margin-right: 93px;
}
.link-logo1 {
  margin-right: 0;
}
.menu:last-child,
.adres-link:last-child {
  margin-right: 0;
}
.span {
  color: black;
}
.span1 {
  color: white;
}
.nav,
.adres-link {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 0;
}

address {
  font-style: normal;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.flexcont {
  display: flex;
  /* padding: 0; */
}
.flexcont-header {
  align-items: center;
}
.flexnav {
  display: flex;
}
.flex-header-adress {
  display: flex;
  padding-left: 0;
  margin-left: auto;
}
.heading {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px 200px 0px;
}

.menu {
  margin-right: 50px;
}
.menu-link {
  color: var(--main-tree-color);
  padding: 36px 0;
  display: block;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--main-bg-color);
}
.adres-link {
  margin-right: 50px;
  margin-left: auto;
}
.adres-link1:hover,
.adres-link1:focus,
.adres-link1:active {
  color: var(--main-bg-color);
}
.adres-link1 {
  color: var(--main-two-color);
}
.headerh1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30pxf;
}

.blue {
  color: var(--main-bg-color);
}
.button-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: white;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
}

.button-header:hover,
.button-header:active,
.button-header:focus {
  background-color: rgba(24, 140, 232, 1);
}

.value {
  background: #e5e5e5;
}

.values-item {
  display: flex;

  padding: 0;
}

.values-list {
  width: 270px;
  margin-right: 30px;
}
.values-list:last-child {
  margin-right: 0px;
}
.values {
  padding-top: 94px;
}

.text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}
.text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.working {
  padding: 94px 0;
}
.working-header,
.teams-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.working-header {
  margin-bottom: 50px;
}
.working-item {
  display: flex;
  padding: 0;
}
.working-list {
  margin-right: 30px;
}

.working-list:last-child {
  margin-right: 0;
}

.teamblocktext {
  padding-top: 30px;
  padding-bottom: 30px;
}
.nametext {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.teams {
  background: #f5f4fa;
  padding: 94px 0;
}
.teams-header {
  margin-bottom: 50px;
}
.teams-item {
  display: flex;
  padding-left: 0;
}
.teams-list {
  margin-right: 30px;
  background-color: white;
}
.teams-list:last-child {
  margin-right: 0;
}
.professionaltext {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
  margin-top: 10px;
}

/* футер 
footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-logo {
  margin-bottom: 20px;
}
.adres-link2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% 

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-link {
  margin-bottom: 9px;
}
.footer-link:last-child {
  margin-bottom: 0px;
}*/
footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.adres-link2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-adress-text {
  margin-bottom: 9px;
}
.footer-link {
  margin-bottom: 9px;
}
.footer-link:last-child {
  margin-bottom: 0px;
}

/* портфолио*/
.tex21 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
  margin-bottom: 4px;
}
.portfolio-section {
  padding: 94px 0;
}
.portfolio-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item {
  margin-right: 8px;
}
.portfolio-item:last-child {
  margin-right: 0px;
}
.portfolioworks-item:last-child {
  margin-right: 0;
}

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  /* shadow-middle */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  border: #f5f4fa;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background: #2196f3;
  color: #ffffff;
}
.portfolioworks-items {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.portfolioworks-block {
  padding: 20px 24px;
}
.portfolioworks-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolioworks-item:nth-child(3n) {
  margin-right: 0;
}
.mb {
  margin-bottom: 0;
}

/* .tex21 {
  margin-left: 24px;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
